/*

.rowDashboard{
	background: #bd2625;
	height: 300px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	
}



.card{
	width: 80%;
	height: 100px;
	margin:auto;
	margin-top:25%;
	background: white;
	text-align: center
	
}

.cardCel{
	width: 65%;
	height: 70px;
	margin:auto;
	margin-top:5%;
	background: white;
	text-align: center
	
}

*/
.main {
	min-height: 90vh;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.main .item-card {
	width: 30%;
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card {
	height: 150px;
	width: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card img {
	width: 120px !important;
}

@media ( max-width : 575.98px) {
	.main .item-card {
		width: 90%
	}
}

@media (min-width: 576px) {
	.main {
		min-height: 300px;
		background: #bd2625;
	}
}

#j_idt35_canvas {
	margin: 0px !important;
	display: block;
	width: 888px !important;
	height: 330px !important;
}