html, body {
	min-height: 100vh;
	min-width: 100vw;
	padding: 0;
}


div.navbar{
	display:flex;
	align-items:center;
	margin:0;
	width:100%;
	height:55px;
	background: #bd2625;
	
}

div.navbar div.logo{
	text-align: center;
}

div.navbar div.logo img{
	width: 23%;
	
}


.fa-align-justify:before{
	font-size: 200%;
	content: "\f039";
}
.fa-sign-out{
	font-size: 200%;
	content: "\f08b";
}

.bntMenu {
	background: #fff0;
	color: white;
	border: none;
	font-size: 100%;
	position: relative;
	left: 10%;
}

.bntLogout {
	background: #fff0;
	color: white;
	border: none;
	font-size: 100%;
	position: relative;
	right: 5%;
}






div .navbarTela{
	display:flex;
	align-items:center;
	margin:0;
	width:100%;
	height:55px;
	background: #bd2625;
}

.bntMenuTela {
	background: #fff0;
	color: white;
	border: none;
	font-size: 100%;
	position: relative;
	left: 10%;
}

.bntLogoutTela {
	background: #fff0;
	color: white;
	border: none;
	font-size: 100%;
	position: relative;
	right: 5%;
}



div.navbarTela div.logoTela{
	text-align: center;
	width: 100%;
}

div.navbarTela div.logoTela img{
	width: 11%;
	
}
